<<<<<<< HEAD
// scss 함수..를정의하는파일
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
=======
// scss 함수를 정의하는 파일
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
>>>>>>> b45822222e69c1e058c49fb7f543e00360dd7a57
